@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --text-color: white;
  --curtain-animation-delay: 4s;
  --movement-animation-delay: 0s;
  --text-on-curtain-color: #c814ff;
  --clr-neon: rgb(74, 67, 173);
  --clr-bg: rgb(32, 33, 49);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--text-color);
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000000;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--clr-bg);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--clr-neon);
}


[class*=curtain] {
  position: relative;
  height: 100vh;
}

[class*=curtain]::after,
[class*=curtain]::before {
  content: '';
  background-color: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23848484' fill-opacity='0.54' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  animation: open-curtain-0-animation;
  animation-duration: 2s;
  animation-delay: var(--curtain-animation-delay);
  animation-fill-mode: forwards;
}

.curtain-0::after,
.curtain-0::before {
  height: 100%;
  width: 50%;
}

.curtain-0::after {
  right: 0;
  transform-origin: right;
}

.curtain-0::before {
  left: 0;
  transform-origin: left;
}

@keyframes open-curtain-0-animation {
  from {
    width: 50%;
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    width: 0%;
    opacity: 0.5;
  }
}

/* NAME ON CURTAINS */

.textOnCurtain-div {
  font-family: 'Courier New', Monospace;
  font-size: 12vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  animation: text-on-curtain-div-animation;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes text-on-curtain-div-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.textOnCurtain {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.3vw rgb(20, 20, 20);
  text-transform: uppercase;
}

/* Before is the text that fills */
.textOnCurtain::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--text-on-curtain-color);
  text-shadow: var(--text-on-curtain-color) 0 0 3vw;
  -webkit-text-stroke: 0vw rgb(36, 36, 36);
  border-right: 3px solid var(--text-on-curtain-color);
  overflow: hidden;
  animation: text-on-curtain-animation 2.5s forwards;
}

/* After is the light under the text */
.textOnCurtain::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0;
  height: 30%;
  background-color: var(--text-on-curtain-color);
  transform: perspective(1em) rotateX(40deg) scale(1, 1.2);
  filter: blur(0.125em);
  animation: text-on-curtain-animation 2.5s forwards;
}

@keyframes text-on-curtain-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* SKY */

.sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -11;
  background-color: #000000;
  /* To change sky color, change the color of the twinkling image */
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: url(../Images/stars.png) repeat top center;
  z-index: -10;
  animation: move-stars-back 1500s infinite linear;
  animation-delay: var(--movement-animation-delay);
}

.twinkling {
  background: transparent url(../Images/twinkling.png) repeat top center;
  z-index: -9;
  animation: move-twink-back 200s linear infinite;
  animation-delay: var(--movement-animation-delay);
}

.clouds {
  background: transparent url(../Images/clouds.png) repeat top center;
  z-index: -7;
  opacity: .4;
  animation: move-clouds-back 200s linear infinite;
  animation-delay: var(--movement-animation-delay);
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@keyframes move-stars-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

/* MOON */

.moon {
  position: absolute;
  left: 70%;
  top: 15%;
  width: 150px;
  height: 150px;
  background: #c7cbd0;
  border-radius: 50%;
  z-index: -8;
  box-shadow: 0px 0px 80px 40px #9098a1;
}

.moon::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #c7cbd0;
  border-radius: 50%;
  box-shadow: inset -10px -5px 0px 0px #9098a1;
}

.moon li {
  position: absolute;
  list-style: none;
  background: #737277;
  border-radius: 50%;
  opacity: 0.3;
}

.moon li:nth-child(1) {
  left: 25px;
  top: 40px;
  width: 35px;
  height: 35px;
  box-shadow: inset 6px -2px 0 0px #414043;
}

.moon li:nth-child(2) {
  left: 60px;
  top: 30px;
  width: 15px;
  height: 15px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(3) {
  left: 65px;
  top: 55px;
  width: 20px;
  height: 20px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(4) {
  left: 100px;
  top: 50px;
  width: 10px;
  height: 10px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(5) {
  left: 40px;
  top: 100px;
  width: 10px;
  height: 10px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(6) {
  left: 100px;
  top: 110px;
  width: 12px;
  height: 12px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

/* WALL */

.wall {
  background: transparent url(../Images/wall.png) repeat-x top center;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -6;
  animation: wall-animation 150s linear infinite;
  animation-delay: var(--movement-animation-delay);
}

@keyframes wall-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

/* WALKING CHARACTER */

.character {
  position: absolute;
  top: 46%;
  left: 15%;
  z-index: -6;
  animation: character-animation 1s linear infinite;
}

.character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes character-animation {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}

/*---------------------------------------------------- NAVIGATION BUTTONS -------------------------------------------------------------*/

.homeButton {
  position: absolute;
  top: 30%;
  left: 10%;
}

.projectsButton {
  position: absolute;
  top: 30%;
  left: 30%;
}

.aboutButton {
  position: absolute;
  top: 30%;
  left: 50%;
}

.contactButton {
  position: absolute;
  top: 30%;
  left: 70%;
}

@media only screen and (max-width: 700px) {
  .homeButton {
    position: absolute;
    top: 30%;
    left: 10%;
  }
  
  .projectsButton {
    position: absolute;
    top: 35%;
    left: 10%;
  }
  
  .aboutButton {
    position: absolute;
    top: 40%;
    left: 10%;
  }
  
  .contactButton {
    position: absolute;
    top: 45%;
    left: 10%;
  }
}

.neon-button {
  font-size: 1.5rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 1em;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  left: 60%;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  border-radius: 1em;
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

/* ------------------------------------------------------ PAGE TITLE ---------------------------------------------------*/

.pageTitle {
  width: 20%;
  font-size: 1.1rem;
  margin: 5em auto 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  border: var(--clr-neon) 0.2em solid;
  border-radius: 3em;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
}

@media only screen and (max-width: 600px) {
  .pageTitle {
    width: 50%;
    font-size: 1.1rem;
    margin: 5em auto 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    border: var(--clr-neon) 0.2em solid;
    border-radius: 3em;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
  }
}

/* PAGE INFORMATION */

.pageInfo {
  width: 70%;
  margin: 25% auto;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .pageInfo {
    width: 70%;
    margin: 5%;
    margin-top: 80%;
    padding: 10px;
  }
}

.pageInfo p {
  color: white;
  font-size: 25px;
  text-align: center;
}

.pageInfo .box {
  width: 100%;
  padding: 40px;
  background: rgba(5, 5, 5, 0.651);
  border-radius: 20px;
  box-shadow: 0 0 10px -3px rgb(0, 0, 0);
}

/* CONTACT FORM */

.form-parent {
  display: flex;
  flex-direction: row;
}

.name-email-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-label {
  display: inline-block;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.name-email-div input {
  padding: 10px;
  border-radius: 5px;
}

.message-submit-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.message-submit-div textarea {
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 10px;
}

.form-btn {
  padding: 10px;
  font-size: 1.1rem;
  background-color: var(--clr-neon);
  cursor: pointer;
  color: #fff;
  border-radius: 1em;
}