@import url("https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple");

:root {
  --text-color: white;
  --curtain-animation-delay: 4s;
  --movement-animation-delay: 0s;
  --text-on-curtain-color: #c814ff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--text-color);
  overflow: hidden;
}

[class*=curtain] {
  position: relative;
  height: 100vh;
}

[class*=curtain]::after,
[class*=curtain]::before {
  content: '';
  background-color: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23848484' fill-opacity='0.54' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  animation: open-curtain-0-animation;
  animation-duration: 2s;
  animation-delay: var(--curtain-animation-delay);
  animation-fill-mode: forwards;
}

.curtain-0::after,
.curtain-0::before {
  height: 100%;
  width: 50%;
}

.curtain-0::after {
  right: 0;
  transform-origin: right;
}

.curtain-0::before {
  left: 0;
  transform-origin: left;
}

@keyframes open-curtain-0-animation {
  from {
    width: 50%;
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    width: 0%;
    opacity: 0.5;
  }
}

.textOnCurtain-div {
  font-family: 'Courier New', Monospace;
  font-size: 12vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  animation: text-on-curtain-div-animation;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes text-on-curtain-div-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.textOnCurtain {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.3vw rgb(20, 20, 20);
  text-transform: uppercase;
}

/* Before is the text that fills */
.textOnCurtain::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--text-on-curtain-color);
  text-shadow: var(--text-on-curtain-color) 0 0 3vw;
  -webkit-text-stroke: 0vw rgb(36, 36, 36);
  border-right: 3px solid var(--text-on-curtain-color);
  overflow: hidden;
  animation: text-on-curtain-animation 2.5s forwards;
}

/* After is the light under the text */
.textOnCurtain::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0;
  height: 30%;
  background-color: var(--text-on-curtain-color);
  transform: perspective(1em) rotateX(40deg) scale(1, 1.2);
  filter: blur(0.125em);
  animation: text-on-curtain-animation 2.5s forwards;
}

@keyframes text-on-curtain-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -11;
  background-color: #000000;
  /* To change sky color, change the color of the twinkling image */
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: url(stars.png) repeat top center;
  z-index: -10;
  animation: move-stars-back 1500s infinite linear;
  animation-delay: var(--movement-animation-delay);
}

.twinkling {
  background: transparent url(twinkling.png) repeat top center;
  z-index: -9;
  animation: move-twink-back 200s linear infinite;
  animation-delay: var(--movement-animation-delay);
}

.clouds {
  background: transparent url(clouds.png) repeat top center;
  z-index: -7;
  opacity: .4;
  animation: move-clouds-back 200s linear infinite;
  animation-delay: var(--movement-animation-delay);
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@keyframes move-stars-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

.moon {
  position: absolute;
  left: 70%;
  top: 15%;
  width: 150px;
  height: 150px;
  background: #c7cbd0;
  border-radius: 50%;
  z-index: -8;
  box-shadow: 0px 0px 80px 40px #9098a1;
}

.moon::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #c7cbd0;
  border-radius: 50%;
  box-shadow: inset -10px -5px 0px 0px #9098a1;
}

.moon li {
  position: absolute;
  list-style: none;
  background: #737277;
  border-radius: 50%;
  opacity: 0.3;
}

.moon li:nth-child(1) {
  left: 25px;
  top: 40px;
  width: 35px;
  height: 35px;
  box-shadow: inset 6px -2px 0 0px #414043;
}

.moon li:nth-child(2) {
  left: 60px;
  top: 30px;
  width: 15px;
  height: 15px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(3) {
  left: 65px;
  top: 55px;
  width: 20px;
  height: 20px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(4) {
  left: 100px;
  top: 50px;
  width: 10px;
  height: 10px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(5) {
  left: 40px;
  top: 100px;
  width: 10px;
  height: 10px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon li:nth-child(6) {
  left: 100px;
  top: 110px;
  width: 12px;
  height: 12px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.wall {
  background: transparent url(wall.png) repeat-x top center;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -6;
  animation: wall-animation 150s linear infinite;
  animation-delay: var(--movement-animation-delay);
}

@keyframes wall-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

.character {
  position: absolute;
  top: 46%;
  left: 15%;
  z-index: -6;
  animation: character-animation 1s linear infinite;
}

.character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes character-animation {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}